@import '../../scss/config';

.checkpoint {
  position: absolute;
  left: 100px;
  z-index: 2;
  
  @media (max-width: $xl) {
    left: 0px;
    margin-top: 90px;
  }
  
  @media (max-width: $lg) {
    left: 0px;
  }
  
  // @media (max-width: $md) {
  //   left: 200px;
  //   margin-top: 0;
  // }
  
  // @media (max-width: $sm) {
  //   position: relative;
  //   left: 0;
  //   margin-top: 20px;
  //   margin-left: 20px;
  // }
}

.checkpoint__label {
  display: flex;
  align-items: center;

  svg {
    margin-right: 8px;
    transition: transform 0.3s ease;
  }

  b {
    margin-right: 8px;
    font-weight: bold;
    // font-size: 14px;
    // line-height: 17px;
    letter-spacing: 0.015em;
    color: #2C2C2C;
  }

    span {
      color: blue($color: #000000);
      border-bottom: 1px dashed;
      cursor: pointer;
    }
  
}

.checkpoint__popup {
  position: absolute;
  right: 0;
  margin-top: 15px;
  background: #ffffff;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
  border-radius: 10px;
  overflow: hidden;
  padding: 10px 0;
  width: 200px;
  z-index: 100;

  ul {
    overflow: hidden;

    li {
      padding: 12px 20px;
      cursor: pointer;
      font-size: 14px;
      line-height: 17px;
      letter-spacing: 0.015em;
      

      &.active,
      &:hover {
        background: rgba(254, 95, 30, 0.05);
      }

      &.active {
        font-weight: bold;
        color: #fe5f1e;
      }
          span {
      color: blue($color: #000000);
      border-bottom: 1px dashed;
      cursor: pointer;
    }
    }
  }
}

.transform {
  transform: rotate(180deg);
}

// Медиа-запросы для адаптивности
@media (max-width: $xl) {
  .checkpoint {

    left: 30px;
  }
}

@media (max-width: $lg) {
  .checkpoint {
        // padding-top: 90px;
    left: 30px;
  }
  
  // .checkpoint__label {
  //   b {
  //     font-size: 13px;
  //   }
    
  //   span {
  //     font-size: 13px;
  //   }
  // }
}

@media (max-width: $md) {
  .checkpoint {
    left: 30px;
  }
  
  // .checkpoint__popup {
  //   // width: 180px;
    
  //   ul li {
  //     padding: 10px 15px;
  //     font-size: 13px;
  //   }
  // }
}

// @media (max-width: $sm) {
//   .checkpoint {
//     position: relative;
//     left: 0;
//     margin: 20px 0;
    
//     &__popup {
//       position: fixed;
//       top: 50%;
//       left: 50%;
//       transform: translate(-50%, -50%);
//       width: 80%;
//       max-width: 250px;
//       margin-top: 0;
//     }
//   }
// }